@import "tailwindcss";

@theme {

  /* Fonts */
  --font-nunito: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
  --font-syne: var(--font-syne), sans-serif;

  /* Colors */
  --color-brand-dark: #0f1e36;
  --color-brand-navy: #182a4a;
  --color-brand-accent: #0b132b;
  --color-brand-gold: #c29b38;
  --color-brand-text: #ffffff;
  --color-brand-muted: #cbd5e1;

}